{% extends 'users/main.html' %}

{% block content %}

        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>All Available Course</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th width ="30">Course Number</th>
                            <th width ="60"></width>Course Name</th>
                            <th width ="30"></width>Seat Avilable</th>
                            <th width ="30"></width>Status</th>
                        </tr>

                        {% for i in course %}
                            <tr>
                                <td>{{i.course_num}}</td>
                                <td>{{i.course_name}}</td>
                                <td>{{i.seat}}/{{i.maxSeat}}</td>
                                <td>
                                    {% if i.state %}
                                    <a ><button id="enroll" class="btn btn-primary" type="submit">Open</button>
                                    {% else %}
                                    <a ><button id="enroll" class="btn btn-danger" type="button">Close</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                
                        
                </div>
            </div>
            
        </div>

{% endblock %}
