{%  extends 'users/main.html' %}

{% block content %}



<br>



	<div class="col-md">
		<h5>My Course</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary btn-sm btn-block" href="{% url 'create_enrollment' %}">Enrollment</a>
			<table class="table table-sm">
				<tr>
					<th width="30"></th>
					<th width="60">Course Name</th>
					<th width="30">Date Enrollment</th>
					<th width="30">Withdraw</th>
				</tr>
				{% for order in orders %}
					<tr>
						<td></td>
						<td>{{order.course}}</td>
						<td>{{order.date_created}}</td>
						
						<td>
							<form action="{% url 'delete_enrollment' order.id %}">
								<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure ??')">Withdraw</button>
							</form>
						</td>

					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}
